/* minimal-ui.css v0.0.1 | MIT License | github.com/vedees/minimal-ui.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
code,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
margin 0,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img,
audio,
video {
  height: auto;
  max-width: 100%;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
textarea {
  resize: none;
}
input,
select,
button {
  outline: none;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
html {
  line-height: 1.4;
  font-size: 18px;
  color: #333;
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 18px;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #333;
}
section,
.section {
  position: relative;
  padding: 60px 0;
}
@media screen and (max-width: 1280px) {
  section,
  .section {
    padding: 40px 0;
  }
}
@media screen and (max-width: 768px) {
  section,
  .section {
    padding: 30px 0;
  }
}
@media screen and (max-width: 480px) {
  section,
  .section {
    padding: 20px 0;
  }
}
.wrapper {
  position: relative;
}
.container {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2.222222222222222rem;
}
@media screen and (max-width: 980px) {
  .container {
    max-width: 768px;
    padding: 0 1.111111111111111rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
    padding: 0 0.888888888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .container {
    max-width: 320px;
    padding: 0 0.555555555555556rem;
  }
}
.container.container--small {
  max-width: 768px;
}
@media screen and (max-width: 980px) {
  .container.container--small {
    max-width: 480px;
  }
}
.center {
  text-align: center;
  margin: 0 auto;
}
.main-title,
.second-title {
  font-weight: normal;
  color: #222;
  text-transform: none;
}
.main-title {
  margin-bottom: 1.777777777777778rem;
  font-size: 2.555555555555555rem;
}
.second-title {
  font-size: 2rem;
  margin-bottom: 1.333333333333333rem;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media only screen and (min-width: 320px) {
  .col-xs-1 {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 980px) {
  .col-sm-1 {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  .col-md-1 {
    -ms-flex-preferred-size: 8.3333333333%;
        flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.6666666667%;
        flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.3333333333%;
        flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.6666666667%;
        flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.3333333333%;
        flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.6666666667%;
        flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 100%;
  }
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  width: 100%;
}
.navbar {
  background-color: #fff;
  min-height: 80px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.navbar.navbar--black {
  background-color: #222;
}
.navbar.navbar--black .navbar-item,
.navbar.navbar--black .navbar-link {
  color: #fff;
}
.navbar.navbar--transparent {
  background-color: transparent;
}
.navbar.navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar-item,
.navbar-link {
  display: block;
  position: relative;
  padding: 0.5rem 0.75rem;
  color: #333;
  cursor: pointer;
}
.navbar-item.navbar-item--white,
.navbar-link.navbar-item--white,
.navbar-item.navbar-link--white,
.navbar-link.navbar-link--white {
  color: #fff;
}
.navbar-item:hover,
.navbar-link:hover,
.navbar-item.active,
.navbar-link.active {
  background-color: transparent;
  color: #000;
}
.navbar-item:last-child,
.navbar-link:last-child {
  padding-right: 0;
}
.ui-card {
  background-color: #fff;
  padding: 1.666666666666667rem;
  color: #666;
  -webkit-box-shadow: 0 20px 20px rgba(0,0,0,0.06);
          box-shadow: 0 20px 20px rgba(0,0,0,0.06);
}
.label {
  font-size: 1rem;
  padding: 0.2rem 1.4rem;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
}
.label--primary {
  background-color: #444ce0;
}
.label--success {
  background-color: #26de81;
}
.label--danger {
  background-color: #fc5c65;
}
.label--warning {
  background-color: #fed330;
}
.label--light {
  background-color: #999;
}
.label--purple {
  background-color: #8854d0;
}
.ui-title-1,
.ui-title-2,
.ui-title-3 {
  display: block;
  font-weight: normal;
}
.ui-title-1 {
  font-size: 2.777777777777778rem;
  margin-bottom: 30px;
}
.ui-title-2 {
  font-size: 2.222222222222222rem;
  margin-bottom: 24px;
}
.ui-title-3 {
  font-size: 1.666666666666667rem;
  margin-bottom: 20px;
}
.ui-title-4 {
  font-size: 1.444444444444444rem;
  margin-bottom: 16px;
}
.ui-text-regular {
  font-size: 1rem;
}
.ui-text-small {
  font-size: 0.888888888888889rem;
}
.ui-text-smaller {
  font-size: 0.777777777777778rem;
}
.text-hide {
  color: #999;
}
.ui-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  line-height: 1.5em;
}
.ui-table td {
  padding: 14px;
  border-bottom: 1px solid #ccc;
}
.ui-table td:first-child {
  padding-right: 20px;
}
.ui-table thead th {
  padding: 14px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid #ccc;
}
.ui-table thead:first-child {
  padding-left: 20px;
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
.button.button--big {
  font-size: 1.222222222222222rem;
}
.button.button--large {
  font-size: 1.555555555555556rem;
}
.button.button--plain {
  background-color: transparent;
}
.button.button--plain:hover {
  color: #fff;
}
.button.button--round {
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.button.button--disable {
  opacity: 0.6;
  cursor: not-allowed;
  background-image: none;
}
.button-default {
  color: #333;
  border: 1px solid #333;
  background-color: #fff;
}
.button-default.button--plain {
  color: #333;
}
.button-default.button--plain:hover {
  background-color: #333;
}
.button-primary {
  background-color: #444ce0;
}
.button-primary.button--plain {
  color: #444ce0;
  border: 1px solid #444ce0;
}
.button-primary.button--plain:hover {
  background-color: #444ce0;
}
.button-success {
  background-color: #26de81;
}
.button-success.button--plain {
  color: #26de81;
  border: 1px solid #26de81;
}
.button-success.button--plain:hover {
  background-color: #26de81;
}
.button-danger {
  background-color: #fc5c65;
}
.button-danger.button--plain {
  color: #fc5c65;
  border: 1px solid #fc5c65;
}
.button-danger.button--plain:hover {
  background-color: #fc5c65;
}
.button-warning {
  background-color: #fed330;
}
.button-warning.button--plain {
  color: #fed330;
  border: 1px solid #fed330;
}
.button-warning.button--plain:hover {
  background-color: #fed330;
}
.button-light {
  background-color: #999;
}
.button-light.button--plain {
  color: #999;
  border: 1px solid #999;
}
.button-light.button--plain:hover {
  background-color: #999;
}
