.button
	display flex
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	color #fff
	cursor pointer
	&:hover
		opacity .8

	&.button--big
		font-size rem(22)
	
	&.button--large
		font-size rem(28)
	

	&.button--plain
		background-color transparent

		&:hover
			color #fff
	

	&.button--round
		border-radius: 1em;
		padding-left: 1em;
		padding-right: 1em;
	
	&.button--disable
		opacity .6
		cursor: not-allowed;
		background-image: none;

.button-default
	color #333
	border: 1px solid #333
	background-color default-color

	&.button--plain
		color #333

		&:hover
			background-color #333

.button-primary
	background-color primary-color

	&.button--plain
		color primary-color
		border: 1px solid primary-color

		&:hover
			background-color primary-color


.button-success
	background-color success-color
	
	&.button--plain
		color success-color
		border: 1px solid success-color

		&:hover
			background-color success-color



.button-danger
	background-color danger-color
	
	&.button--plain
		color danger-color
		border: 1px solid danger-color

		&:hover
			background-color danger-color

.button-warning
	background-color warning-color
	
	&.button--plain
		color warning-color
		border: 1px solid warning-color

		&:hover
			background-color warning-color

.button-light
	background-color light-color
	
	&.button--plain
		color: light-color
		border: 1px solid light-color

		&:hover
			background-color light-color
