.button
	display flex
	justify-content: center;
	padding-bottom: calc(0.375em - 1px);
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-top: calc(0.375em - 1px);
	text-align: center;
	white-space: nowrap;
	color #fff
	cursor pointer

	&.button--big
		font-size rem(24)

.button-primary
	background-color primary-color

.button-success
	background-color success-color

.button-danger
	background-color danger-color

.button-warning
	background-color warning-color

.button-light
	background-color light-color
