.label
  font-size rem(18)
  padding: 0.2rem 1.4rem
  white-space nowrap
  text-transform uppercase
  color: #fff

.label--primary
  background-color: primary-color

.label--success
  background-color: success-color

.label--danger
  background-color: danger-color

.label--warning
  background-color: warning-color

.label--light
  background-color light-color

.label--purple
  background-color: purple-color
