//Color
whiteColor              = #fff
blackColor              = #000
htmlColor               = #000

mainBgColor             = #444444
secondBgColor           = #7c9297

//Fonts
lightFont               = Arial, sans-serif
regularFont             = Arial, sans-serif
boldFont                = Arial, sans-serif

mainFont                = 'Roboto' , Arial, sans-serif


//Size
mainFontSize            = 16px


desktopWidth            = 1280px
smDesktopWidth          = 980px
tableWidth              = 768px
phoneWidth              = 480px
smPhoneWidth            = 320px
