html
	line-height mainLineHeight
	font-size mainFontSize
	color mainFontColor

	@media screen and (max-width desktopWidth)
		font-size 16px

	@media screen and (max-width tableWidth)
		font-size 14px

	@media screen and (max-width phoneWidth)
		font-size 13px

body
	font-family 'Avenir', Helvetica, Arial, sans-serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-family mainFontSize
	font-weight normal

a
	text-decoration none
	color linkColor

section,
.section
	position relative
	padding 54px 0

	@media screen and (max-width desktopWidth)
		padding 36px 0

	@media screen and (max-width tableWidth)
		padding 22px 0

	@media screen and (max-width phoneWidth)
		padding 16px 0

.wrapper
	display: flex
	flex-direction column
	max-width desktopWidth
	min-height 100vh
	margin 0 auto


.content-wrapper
	display flex
	flex-direction: column
	min-height: 100vh
	transition: all .25s cubic-bezier(.02,.01,.47,1);

	&.content-wrapper--sidebar
		padding-left: 240px;
		padding-bottom: 100px;

		@media screen and (max-width: phoneWidth)
			padding-left 56px
			padding-bottom: 0;

	&.content-wrapper--fix-header
		padding-top 80px

.container
	width 100%
	flex: 0 0 auto;
	position relative
	max-width desktopWidth
	margin 0 auto
	padding 0 rem(40)

	@media screen and (max-width smDesktopWidth)
		max-width tableWidth
		padding 0 rem(20)

	@media screen and (max-width tableWidth)
		max-width phoneWidth
		padding 0 rem(16)

	@media screen and (max-width phoneWidth)
		max-width smPhoneWidth
		padding 0 rem(10)

	&.container--small
		max-width tableWidth

		@media screen and (max-width smDesktopWidth)
			max-width phoneWidth

.container-fluid
	width 100%
	padding 0
	margin-right auto
	margin-left auto

.center
	text-align center