.ui-title-1, .ui-title-2, .ui-title-3, .ui-title-4
  display block
  font-weight normal
  color: mainFontColor
  margin-bottom .4em

.ui-title-1
  font-size 50px
  @media screen and (max-width smDesktopWidth)
    font-size @font-size - 20%
  @media screen and (max-width tableWidth)
    font-size @font-size - 30%
  @media screen and (max-width phoneWidth)
    font-size @font-size - 40%

.ui-title-2
  font-size 40px
  @media screen and (max-width smDesktopWidth)
    font-size @font-size - 20%
  @media screen and (max-width tableWidth)
    font-size @font-size - 30%
  @media screen and (max-width phoneWidth)
    font-size @font-size - 40%

.ui-title-3
  font-size 30px
  @media screen and (max-width smDesktopWidth)
    font-size @font-size - 20%
  @media screen and (max-width tableWidth)
    font-size @font-size - 30%
  @media screen and (max-width phoneWidth)
    font-size @font-size - 40%

.ui-title-4
  font-size rem(24)
  @media screen and (max-width smDesktopWidth)
    font-size @font-size - 20%
  @media screen and (max-width tableWidth)
    font-size @font-size - 30%
  @media screen and (max-width phoneWidth)
    font-size @font-size - 40%


.ui-text-regular
  font-size rem(18)
  color: neutral-regular

.ui-text-small
  font-size rem(16)
  color: neutral-secondary

.ui-text-smaller
  font-size rem(14)
  color: neutral-placeholder

.ui-text-hide
	color neutral-placeholder