.ui-title-1, .ui-title-2, .ui-title-3, .ui-title-4
  display block
  font-weight normal
  color: mainFontColor
  margin-bottom .4em

.ui-title-1
  font-size rem(50)

.ui-title-2
  font-size rem(40)

.ui-title-3
  font-size rem(30)

.ui-title-4
  font-size rem(24)


.ui-text-regular
  font-size rem(18)
  color: neutral-regular

.ui-text-small
  font-size rem(16)
  color: neutral-secondary

.ui-text-smaller
  font-size rem(14)
  color: neutral-placeholder

.ui-text-hide
	color neutral-placeholder