.changelog-page
  background: url("../img/bg.svg") center center repeat, linear-gradient(to bottom right,rgba(97,32,203,.8),rgba(56,118,245,.8))
  .navbar-list--mobile
    background: linear-gradient(to bottom right,rgba(97,32,203,.99),rgba(56,118,245,.99))

.changelog-item__log
  margin-bottom 20px