// Main

hr
  border: 1px solid #ccc;
  border-width: .3px;
  margin: 40px 0;

.content-docs_header
  margin-bottom 60px

.docs-descr
  display block
  margin-bottom rem(10)

.docs-descr__name
  padding: 18px 24px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;

.content-docs_help
  margin-bottom 30px

.example
  padding: 20px
  border 1px solid #cccccc
  border-radius: 8px
  margin-bottom 40px

.example-empty
  margin-bottom 40px

// Typography
.typography-doc

  .example
    .ui-title-1, .ui-title-2, .ui-title-3,
    .ui-text-regular, .ui-text-small, .ui-text-smaller
      margin-bottom 0
  

  

// Colors
.example-color__list
  display flex

.example-color__item
  display flex
  flex-direction: column
  align-items center
  width 140px
  padding: 10px 0
  margin: 0 4px 
  color: #fff
  font-size rem(18)
  border-radius: 4px

  &.blue 
    background-color #444ce0
  &.green
    background-color #26de81
  &.red 
    background-color #fc5c65
  &.yellow
    background-color #fed330
  &.light
    background-color #999

.example-color__box__title
  font-weight 600

// Labels
.labels-doc
  
  .example,
  .example-empty

    .label
      margin-right 10px

      &:last-child
        margin-right 0

// Button
.buttons-doc
  
  .example,
  .example-empty
  
    .button
      margin-right 10px
      
      &:last-child
        margin-right 0
      
//card
.card-doc

  .col-md-4
    padding-right 12px

    &:last-child
      padding-right 0