//Move to ui
.sidebar
  position fixed
  width 240px
  top 0
  bottom 0
  margin-top 80px
  
.content-sidebar
  padding-left: 270px;
  padding-bottom: 100px;
  box-sizing: border-box;

.sidebar-content
  display flex
  border-right 1px solid #ccc
  overflow: auto;

.sidebar-list
  display flex
  flex-direction: column
  margin: 20px auto

.sidebar-item
  font-size rem(20)

.sidebar-link
  color #777