/* Link
  ========================================================================== */

// colors:
$ui-link-color: var(--ui-primary-color);
$ui-link-text-decoration: underline;
$ui-link-text-decoration-hover: none;

.ui-link {
  display: inline-block;
  // ?
  // outline: none;
  cursor: pointer;
  color: $ui-link-color;
  transition: color 0.3s;
  text-decoration: $ui-link-text-decoration;

  &:hover {
    opacity: 0.9;
    text-decoration: $ui-link-text-decoration-hover;
  }

  // helpers:
  &.isSolid {
    text-decoration: $ui-link-text-decoration-hover;
  }
}
