/* ol & ul lists
   ========================================================================== */

$ui-list-padding-left: 2em;

.ui-ul {
  position: relative;
  display: block;
  padding-left: $ui-list-padding-left;
  margin-top: 0; // reset
  li {
    position: relative;
    list-style-type: disc;
  }
}

// ol list
.ui-ol {
  position: relative;
  padding-left: $ui-list-padding-left;
  margin-top: 0; // reset
  li {
    position: relative;
    list-style-type: decimal;
  }
}
