/* Text
  ========================================================================== */

// colors:
$ui-text-color: var(--ui-g-990);
$ui-text-color-primary: var(--ui-primary-color);
$ui-text-color-secondary: var(--ui-g-400);
//
$ui-text-color-success: var(--ui-success-color);
$ui-text-color-warning: var(--ui-warning-color);
$ui-text-color-danger: var(--ui-danger-color);
$ui-text-color-disabled: var(--ui-g-200);

.ui-text {
  color: $ui-text-color;
  overflow-wrap: break-word;

  &.isPrimary {
    color: $ui-text-color-primary;
  }
  &.isSecondary {
    color: $ui-text-color-secondary;
  }
  &.isMark {
    color: black;
    background-color: var(--ui-mark-color);
  }

  // statuses:
  &.isSuccess {
    color: $ui-text-color-success;
  }
  &.isWarning {
    color: $ui-text-color-warning;
  }
  &.isDangerous {
    color: $ui-text-color-danger;
  }
  &.isDisabled {
    user-select: none;
    cursor: not-allowed;
    //
    color: $ui-text-color-disabled;
  }
}
