@import 'utils/mixin.styl'
@import 'libs.styl'
@import 'utils/vars.styl'
@import '../../minimal-ui/dev/stylus/utils/vars.styl'

@import 'utils/fonts.styl'

.wrapper
	display: flex
	flex-direction column
	min-height 100vh

.content-wrapper
	display flex
	flex-direction: column
	min-height: 100vh
	transition: all .25s cubic-bezier(.02,.01,.47,1);

	&.content-wrapper--sidebar
		padding-left: 240px;
		padding-bottom: 100px;

		@media screen and (max-width: phoneWidth)
			padding-left 56px
			padding-bottom: 0;



	&.content-wrapper--fix-header
		padding-top 80px


//MODULES
//Header
@import 'modules/header.styl'

//Footer
@import 'modules/footer.styl'

//Sidebar
@import 'modules/sidebar.styl'


//PAGES
//Index
@import 'pages/index.styl'

//Changelog-page
@import 'pages/changelog.styl'

//Documetation
@import 'pages/documentation.styl'
