/* Link
   ========================================================================== */

// colors:
$ui-link-color: var(--primaryColor);
$ui-link-text-decoration: underline;
$ui-link-text-hover-decoration: none;

.ui-link {
  color: $ui-link-color;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: $ui-link-text-decoration;
  &:hover {
    opacity: 0.9;
    text-decoration: $ui-link-text-hover-decoration;
  }
}
