/* Size (buttons, inputs, etc.)
  ========================================================================== */

$mainFontSize: 18px;
$smDesktopFontSize: 16px;
$tableFontSize: 15px;
$phoneFontSize: 14px;
