label,
legend
  display: block
  font-size: rem(20)
  margin-bottom: .5rem

.label--inline
  display: inline-block

input[type='email'], input[type='number'], input[type='password'], 
input[type='search'], input[type='tel'], input[type='text'], 
input[type='url'], textarea, select
  appearance: none;
  width: 100%;
  height rem(40)
  padding: rem(10) rem(14);
  background-color: transparent;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: inherit;
  border-radius: rem(4)

fieldset, input, select, textarea
  margin-bottom: rem(20)

select 
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 29 14' width='29'><path fill='#d1d1d1' d='M9.37727 3.625l5.08154 6.93523L19.54036 3.625'/></svg>") center right no-repeat
  padding-right rem(14)

textarea
  min-height: rem(70)