.label
  padding label-padding
  white-space nowrap
  text-transform uppercase
  color: label-color

.label--primary
  background-color: primary-color

.label--success
  background-color: success-color

.label--danger
  background-color: danger-color

.label--warning
  background-color: warning-color

.label--light
  background-color light-color

.label--purple
  background-color: purple-color
