.ui-message-box__wrapper
  display: none
  justify-content center
  align-items: center
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index 2002
  background-color: messageBox-wrapper-background-color

.ui-message-box
  position relative
  min-width 400px
  padding: 12px 14px
  background-color: messageBox-background-color
  border: 1px solid border-base
  border-radius: messageBox-border-radius
  z-index 2000
  overflow: hidden;

  .button-close
    width 22px
    height @width

.ui-message-box__header
  display: flex
  align-items: center
  justify-content space-between
  padding-bottom: 8px
  margin-bottom: @padding-bottom 

.ui-message-box__content
  margin-bottom: 16px

.ui-message-box__footer
  text-align: right

.message-box-title
  font-size: messageBox-title-font-size