.ui-message
  display: none
  align-items: center
  justify-content center
  position fixed
  top: 20px
  right: 10%
  padding: 10px 14px
  background-color: #edf2fc
  border: 1px solid #ebeef5
  border-radius: 8px
  z-index 2000
  overflow: hidden;

  &.ui-message--primary
    color #fff
    background-color: primary-color

  &.ui-message--success
    color #fff
    background-color: success-color

  &.ui-message--warning
    color #fff
    background-color: warning-color

  &.ui-message--danger
    color #fff
    background-color: danger-color