.navbar
  background-color: navbar-background-color
  min-height: navbar-height
  position: relative
  border-bottom 1px solid #ccc

  &.navbar--black
    background-color: #222

    .navbar-item,
    .navbar-link
      color #fff
    .button-burger
      .line
        background-color #fff

  &.navbar--transparent
    background-color: transparent


  &.navbar-fixed
    position: fixed
    left: 0
    right: 0
    z-index: navbar-fixed-z

.navbar-open-button
  display none

  @media screen and (max-width: phoneWidth)
    display block

.navbar-menu
  @media screen and (max-width: phoneWidth)
    display none

.navbar-menu--mobile
  display none

  .button-burger
    z-index 44

  @media screen and (max-width: phoneWidth)
    display block

.navbar-list
  display flex
  justify-content space-between
  align-items: center
  min-height: navbar-height

.navbar-list--mobile
  display none
  flex-direction column
  align-items: flex-end
  position fixed
  top 80px
  left 0
  width 100%
  height 100%
  z-index 30
  background-color #fff

  .navbar-item
    padding-right 20px
    &:last-child
      padding-right 20px

  @media screen and (max-width: phoneWidth)
    // display flex




.navbar-item,
.navbar-link
  display: block
  position: relative
  padding: 0.5rem 0.75rem
  color: navbar-item-color
  cursor: pointer

  &.navbar-item--white,
  &.navbar-link--white
    color #fff

  &:hover,
  &.active
    background-color: navbar-item-hover-background-color
    color: navbar-item-hover-color

  &:last-child
    padding-right: 0