//Move to ui
.sidebar
  width sidebar-width
  height sidebar-height
  position fixed
  // height: 100%;
  top 0
  bottom 0
  margin-top 80px
  overflow-x scroll
  transition mainTransition
  z-index 10

  @media screen and (max-width: phoneWidth)
    left: -240px;

  &.full
    width 100%
    background-color: #fff

.sidebar-open-button
  display none
  position fixed
  top 90px
  left 10px
  z-index: 20

  @media screen and (max-width: phoneWidth)
    display block

.sidebar-content
  padding sidebar-content-padding
  color neutral-regular
  transition mainTransition

  @media screen and (max-width: phoneWidth)
    padding sidebar-content-padding--mobile

.sidebar-list
  display flex
  flex-direction: column
  margin: sidebar-list-margin

.sidebar-item
  position relative
  line-height sidebar-item-line-height
  transition: mainTransition

.sidebar-item,
.sidebar-link
  font-size sidebar-item-font-size
  color neutral-regular
  &:hover
    color neutral-primary