.ui-table
  width 100%
  border-collapse: collapse;
  background-color #fff
  line-height: 1.5em;

  td
    padding 14px
    border-bottom: 1px solid #ccc

    &:first-child
      padding-right: 20px
  
  thead

    th
      padding 14px
      overflow: hidden;
      white-space: nowrap;
      user-select: none;
      border-bottom: 1px solid #ccc;

    &:first-child
      padding-left: 20px