/* Default theme
   ========================================================================== */

body {
  // main colors:
  --ui-primary-color: #1890ff;
  --ui-success-color: #52c41a;
  --ui-warning-color: #faad14;
  --ui-mark-color: #ffe58f;
  --ui-danger-color: #f5222d;

  // gray
  --g-0: #141414;
  --g-10: #1e2844;
  --g-100: #9b9b9b;
  --g-200: #a8a8a8;
  --g-300: #b8b8b8;
  --g-400: #c9c9c9;
  --g-500: #d3d3d3;
  --g-600: #dddddd;
  --g-700: #e0e0e0;
  --g-800: #e7e7e7;
  --g-900: #ececec;
  --g-950: #fafafa;
  --g-999: #fdfdfd;
}
