/* Default theme
   ========================================================================== */

body {
  // main colors:
  --ui-primary-color: #1890ff;
  --ui-success-color: #52c41a;
  --ui-warning-color: #faad14;
  --ui-mark-color: #ffe58f;
  --ui-danger-color: #f5222d;

  // gray
  --ui-g-0: #ffffff;
  --ui-g-10: #fafafa;
  --ui-g-100: #f5f5f5;
  --ui-g-200: #cccccc;
  --ui-g-400: #939394;
  --ui-g-500: #858585;
  --ui-g-950: #0e0e0e;
  --ui-g-999: #000000;
}
