/* Default theme
   ========================================================================== */

body {
  // main colors:
  --primaryColor: #1890ff;
  --successColor: #52c41a;
  --warningColor: #faad14;
  --markColor: #ffe58f;
  --dangerColor: #f5222d;

  // gray
  --g-0: #ffffff;
  --g-10: #fafafa;
  --g-100: #f5f5f5;
  --g-200: #cccccc;
  --g-300: #b8b9bb;
  --g-400: #939394;
  --g-500: #828284;
  --g-600: #656566;
  --g-700: #555556;
  --g-800: #37353f;
  --g-900: #222222;
  --g-950: #0e0e0e;
  --g-999: #000000;
}
