/* Vars
   ========================================================================== */

// Main sizes:
$mainFontColor: var(--g-990);
$mainFontSize: 18px;
$mainLineHeight: 1.6;

// Shadows:
// $tinyShadow: rgba(0, 0, 0, 0.04);
$tinyShadow: var(--g-100);
// $lightShadow: rgba(0, 0, 0, 0.1);
$lightShadow: var(--g-200);
// $defaultShadow: rgba(0, 0, 0, 0.2);
$defaultShadow: var(--g-400);
$darkShadow: var(--g-500);

// todo rm
$ui-primary-color: var(--ui-primary-color);

// Transitions
$modernTransition: transform 0.2s cubic-bezier(0.36, -0.24, 0.26, 1.32);
$defaultTransition: all 150ms ease-in;
$defaultTransitionSlow: all 300ms ease-in;

// Break Points
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
