/* Vars
   ========================================================================== */

// Main sizes:
$mainFontSize: 18px;
$mainLineHeight: 1.6;

// Shadows:
$tinyShadow: rgba(0, 0, 0, 0.04);
$lightShadow: rgba(0, 0, 0, 0.1);
$defaultShadow: rgba(0, 0, 0, 0.2);
$darkShadow: rgba(0, 0, 0, 0.3);

// todo rm
$primaryColor: var(--primaryColor);

// Transitions
$modernTransition: transform 0.2s cubic-bezier(0.36, -0.24, 0.26, 1.32);
$defaultTransition: all 150ms ease-in;
$defaultTransitionSlow: all 300ms ease-in;

// Break Points
$lgDesktopWidth: 1400px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
