.content-docs_header
  margin-bottom 60px

.docs-descr
  display block
  margin-bottom rem(10)

.docs-descr__name
  padding: 18px 24px;
  background-color: #fafafa;
  border: 1px solid #eaeefb;


// Typography
.typography
  span
    margin-left 6px

// Colors
.example-color__list
  display flex

.example-color__item
  display flex
  flex-direction: column
  align-items center
  width 140px
  padding: 10px 0
  margin: 0 4px 
  color: #fff
  font-size rem(18)
  border-radius: 4px

  &.blue 
    background-color #444ce0
  &.green
    background-color #26de81
  &.red 
    background-color #fc5c65
  &.yellow
    background-color #fed330
  &.light
    background-color #999

.example-color__box__title
  font-weight 600

