<pre><code>
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;!-- ... --&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div class=&quot;wrapper&quot;&gt;
    &lt;header&gt;
      &lt;!-- Header --&gt;
    &lt;/header&gt;
    &lt;div class=&quot;sidebar-open-button&quot;&gt;
      &lt;!-- Sidebar Button  --&gt;
      &lt;div class=&quot;button-burger&quot;&gt;&lt;span class=&quot;line line-1&quot;&gt;&lt;/span&gt;&lt;span class=&quot;line line-2&quot;&gt;&lt;/span&gt;&lt;span class=&quot;line line-3&quot;&gt;&lt;/span&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;sidebar&quot;&gt;
      &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;sidebar-content&quot;&gt;
          &lt;!-- Sidebar Content  --&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;content-wrapper content-wrapper--sidebar&quot;&gt;
      &lt;!-- Content --&gt;
      &lt;footer&gt;
        &lt;!-- Footer --&gt;
      &lt;/footer&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
</pre></code>