/* Button
   ========================================================================== */

// sizes:
$ui-button-height: rem(38);
$ui-button-padding: rem(6) rem(12);
$ui-button-font-size: rem(16);

// colors:
$ui-button-bg: var(--ui-g-0);
$ui-button-color: inherit;
$ui-button-default-color: $lightShadow;
$ui-button-border-color: transparent;
$ui-button-shadow: $tinyShadow;

.ui-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 400;
  line-height: 1.5;
  height: $ui-button-height;
  padding: $ui-button-padding;
  //
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  //
  color: $ui-button-color;
  box-shadow: 0 1px 2px 0 $ui-button-shadow;
  background-color: $ui-button-bg;
  border: 1px solid $ui-button-border-color;
  opacity: 0.92;
  transition: $defaultTransition;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active,
  &.isActive {
    opacity: 1;
  }

  &:disabled,
  &.isDisabled,
  fieldset:disabled & {
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
  }

  // Buttons types:
  &.isDefault {
    border-color: $ui-button-default-color;
  }
  &.isPrimary {
    background-color: var(--ui-primary-color);
    color: var(--ui-g-0);
  }
  &.isSecondary {
    background-color: $ui-button-default-color;
  }
  &.isDangerous {
    color: var(--ui-g-0);
    background-color: var(--ui-danger-color);
  }
  &.isWarning {
    color: var(--ui-g-0);
    background-color: var(--ui-warning-color);
  }
  &.isSuccess {
    color: var(--ui-g-0);
    background-color: var(--ui-success-color);
  }

  // Outline
  &.isOutline {
    opacity: 1;
    background-color: transparent;

    &:hover {
      opacity: 0.8;
    }

    &.isPrimary {
      color: var(--ui-primary-color);
      border-color: var(--ui-primary-color);
    }
    &.isSecondary {
      border-color: $ui-button-default-color;
    }
    &.isDangerous {
      color: var(--ui-danger-color);
      border-color: var(--ui-danger-color);
    }
    &.isWarning {
      color: var(--ui-warning-color);
      border-color: var(--ui-warning-color);
    }
    &.isSuccess {
      color: var(--ui-success-color);
      border-color: var(--ui-success-color);
    }
  }

  // helpers:
  &.isLink {
    color: var(--ui-primary-color);
    border-color: transparent;
    background: 0 0;
    box-shadow: none;
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
  }
  &.isText {
    border-color: transparent;
    background: 0 0;
    box-shadow: none;
    opacity: 1;
    &:hover {
      opacity: 0.8;
      background-color: $ui-button-default-color;
    }
  }
}
