/* Card
   ========================================================================== */

// colors
$ui-card-border-color: var(--ui-g-200);
$ui-card-shadow: var(--ui-g-100);
$ui-card-animation-shadow: var(--ui-g-200);

// sizes
$ui-card-border-radius: rem(4);
$ui-card-body-padding: rem(16) rem(16);

.ui-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid $ui-card-border-color;
  border-radius: $ui-card-border-radius;
  box-shadow: 0 1px 2px 0 $ui-card-shadow;
  transition: box-shadow 200ms ease, transform 200ms ease;

  &.isAnimated {
    &:hover {
      transform: translate(4px, -4px);
      box-shadow: -8px 8px 0 $ui-card-animation-shadow;
    }
  }
}

.ui-card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: $ui-card-body-padding;
}
