/* Table
   ========================================================================== */

// sizes:
$ui-table-line-height: 1.5em;
$ui-table-td-padding: rem(14);

// colors:
$ui-table-bg: transparent;
$ui-table-bg-hover: $g-100;
$ui-table-border-color: $g-200;

.ui-table {
  width: 100%;
  border-collapse: collapse;
  background-color: $ui-table-bg;
  line-height: $ui-table-line-height;
  transition: $defaultTransition;
  border: 1px solid $ui-table-border-color;
  td {
    padding: $ui-table-td-padding;
    border-bottom: 1px solid $ui-table-border-color;
    &:first-child {
      padding-right: 20px;
    }
  }
  thead {
    th {
      padding: $ui-table-td-padding;
      overflow: hidden;
      white-space: nowrap;
      user-select: none;
      border-bottom: 1px solid $ui-table-border-color;
    }
    &:first-child {
      padding-left: rem(20);
    }
  }
  &.isHover {
    tbody {
      tr {
        &:hover {
          background-color: $ui-table-bg-hover;
        }
      }
    }
  }
}
