/* Tag
   ========================================================================== */

//  size:
$ui-tag-font-size: rem(14);

// colors:
$ui-tag-color: var(--ui-primary-color);
$ui-tag-text-decoration: none;
$ui-tag-text-hover-decoration: underline;
// box
$ui-tag-box-border-color: $tinyShadow;
$ui-tag-box-background-color: $tinyShadow;

.ui-tag {
  display: inline-block;
  color: $ui-tag-color;
  font-size: $ui-tag-font-size;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: $ui-tag-text-decoration;
  &:hover {
    opacity: 0.9;
    text-decoration: $ui-tag-text-hover-decoration;
  }

  &:before {
    content: '#';
    padding-right: rem(2);
  }

  // statuses:
  &.isActive {
    text-decoration: $ui-tag-text-hover-decoration;
  }

  &:disabled,
  &.isDisabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
  }

  &.isBox {
    padding: 0 rem(8);
    background-color: $ui-tag-box-background-color;
    border: 1px solid $ui-tag-box-border-color;
    border-radius: rem(3);
    color: inherit;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &:before {
      display: none;
    }

    &.isActive {
      color: var(--ui-g-0);
      background-color: $ui-tag-color;
      text-decoration: none;
    }
  }
}
