/* Tag
   ========================================================================== */

// default:
$ui-tag-font-size: rem(14);
$ui-tag-color: var(--ui-primary-color);
$ui-tag-text-decoration: none;
$ui-tag-text-hover-decoration: underline;
// box
$ui-tag-box-padding: rem(2) rem(8);
$ui-tag-box-border-color: var(--ui-g-100);
$ui-tag-box-border-radius: rem(3);
$ui-tag-box-background-color: var(--ui-g-100);

.ui-tag {
  display: inline-flex;
  align-items: center;
  color: $ui-tag-color;
  font-size: $ui-tag-font-size;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: $ui-tag-text-decoration;
  &:hover {
    opacity: 0.9;
    text-decoration: $ui-tag-text-hover-decoration;
  }

  &:before {
    content: '#';
    padding-right: rem(2);
  }

  // active status:
  &.isActive {
    text-decoration: $ui-tag-text-hover-decoration;
  }

  // box View
  &.isBox {
    padding: $ui-tag-box-padding;
    background-color: $ui-tag-box-background-color;
    border: 1px solid $ui-tag-box-border-color;
    border-radius: $ui-tag-box-border-radius;
    color: inherit;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
    &:before {
      display: none;
    }

    // active status:
    &.isActive {
      color: var(--ui-g-0);
      background-color: $ui-tag-color;
      text-decoration: none;
    }
  }

  // disabled status:
  &:disabled,
  &.isDisabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.7;
  }
}
