.catalog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
  border-radius: 30px;
  color: var(--text-main-color);
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-card {
    padding: 40px 30px;
  }
}
@media (min-width: 1024px) {
  .catalog-card {
    padding: 40px 46px;
  }
}
@media (min-width: 1280px) {
  .catalog-card {
    padding: 40px 105px;
  }
}
@media (min-width: 1024px) {
  .catalog-card:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: inherit;
    transition: transform 0.3s;
    content: '';
  }
}
@media (min-width: 1024px) {
  .catalog-card:hover:before,
  .catalog-card[focus-within]:before {
    transform: scale(1.025);
  }
  .catalog-card:focus-within:before,
  .catalog-card:hover:before {
    transform: scale(1.025);
  }
}
.catalog-card__icon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 200px;
  height: 120px;
  margin: 0 auto 24px;
}
@media (min-width: 768px) {
  .catalog-card__icon {
    width: 230px;
    height: 140px;
    margin-bottom: 32px;
  }
}
.catalog-card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
}
@media (min-width: 768px) {
  .catalog-card__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 1023.9px) {
  .catalog-card__title br {
    display: none;
  }
}
.catalog-card__desc {
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .catalog-card__desc {
    font-size: 16px;
    line-height: 23px;
  }
}
.catalog-card__link {
  margin-top: auto;
  color: inherit;
}
@media (max-width: 767.9px) {
  .catalog-card__link {
    width: 100%;
  }
}
.catalog-card__link:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  content: '';
}
.catalog-card__button {
  position: relative;
}
@media (min-width: 768px) {
  .catalog-card__button {
    min-width: 247px;
  }
}
.catalog-card__button-icon {
  transform: rotate(-90deg);
}
