navbar-background-color = #fff
navbar-height = 80px
navbar-item-color = #333
navbar-item-hover-color = #000
navbar-item-hover-background-color = transparent

navbar-fixed-z = 2

.navbar
  background-color: navbar-background-color
  min-height: navbar-height
  position: relative

.navbar-fixed
  position: fixed
  left: 0
  right: 0
  z-index: navbar-fixed-z

.navbar-menu
  display flex
  justify-content flex-end
  align-items: center

.navbar-item,
.navbar-link
  display: block
  position: relative
  padding: 0.5rem 0.75rem
  color: navbar-item-color
  cursor: pointer

  &:hover,
  &.active
    background-color: navbar-item-hover-background-color
    color: navbar-item-hover-color



