header
  .container
    .navbar.navbar.navbar-menu
      a(href="index.html").header-logo Minimal UI
      ul.navbar-menu
        each item in nav
          +menuItem(item["title"], item["url"])
          