header
  .container
    .navbar.navbar-menu
      ul.navbar-menu
        li.navbar-item
          a.navbar-link(href="/documetation") Documetation
        li.navbar-item
          a.navbar-link(href="/changelog") Changelog
        li.navbar-item
          a.navbar-link(href="#") Download
          