header
  .container
    .navbar.navbar--transparent.navbar-menu
      a(href="index.html").header-logo.header-logo--white Minimal UI
      ul.navbar-menu
        each item in mainNav
          +menuItem(item["title"], item["url"])(class="navbar-link--white")
          