mixin menuItemSidebar(title,url)
  li.sidebar-item
    a.sidebar-link(href= url)= title

.sidebar__open-buttom
  .button-burger
    span.line.line-1
    span.line.line-2
    span.line.line-3
.sidebar
  .container
    .sidebar-content

      // Development
      .ui-title-3 Development
      ul.sidebar-list          
        each item in docNavDev
          +menuItemSidebar(item["title"], item["url"])
      
      // Components
      .ui-title-3 Components
      ul.sidebar-list
        each item in docNavComp
          if(item['prefix'])
            p.ui-text-small(style="margin:16px 0 6px 0;")= item['prefix']
            +menuItemSidebar(item["title"], item["url"])
          else
            +menuItemSidebar(item["title"], item["url"])