extends ../layout/docs

block variables
  - var pageClass        = 'alert-page';
  - var title            = 'Alert for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Alert Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.alert-doc
    .container
      h1.ui-title-1 Alert
      span
        | Displays important alert messages

  section.alert-doc__close-button
    .container
      span.ui-title-2 With close button:
      .example-empty
        .ui-alert.ui-alert--primary
          span.alert-title Primary Text
          span.button-close
        .ui-alert.ui-alert--success
          span.alert-title Primary Text
          span.button-close
        .ui-alert.ui-alert--danger
          span.alert-title Primary Text
          span.button-close
        .ui-alert.ui-alert--warning
          span.alert-title Primary Text
          span.button-close
        .ui-alert.ui-alert--light
          span.alert-title Primary Text
          span.button-close
        .ui-alert.ui-alert--purple
          span.alert-title Primary Text
          span.button-close

      .content-docs_help
        span.ui-title-2 Example:
      include alert/close-button.html

      span.ui-title-2 Simple:
      .example-empty
        .ui-alert.ui-alert--primary
          span.alert-title Primary Text
        .ui-alert.ui-alert--success
          span.alert-title Primary Text
        .ui-alert.ui-alert--danger
          span.alert-title Primary Text
        .ui-alert.ui-alert--warning
          span.alert-title Primary Text
        .ui-alert.ui-alert--light
          span.alert-title Primary Text
        .ui-alert.ui-alert--purple
          span.alert-title Primary Text

      .content-docs_help
        span.ui-title-2 Example:
      include alert/standart.html