extends ../layout/docs

block variables
  - var pageClass        = 'buttons-page';
  - var title            = 'Buttons for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Buttons Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.buttons-doc
    .container
      .content-docs_header
        h1.ui-title-1 Button
        span.docs-descr 
          | Commonly used button.


  section.buttons-doc
    .container
      p.ui-title-2 Standart:
      .example-empty
        .row
          .button.button-default Default
          .button.button-primary Primary
          .button.button-success Success
          .button.button-warning Warning
          .button.button-light Light
    
      .content-docs_help
        span.ui-title-3 Example:
      include buttons/buttons.html

  section.buttons-doc
    .container
      p.ui-title-2 Round:
      .example-empty
        .row
          .button.button--round.button-default Default
          .button.button--round.button-primary Primary
          .button.button--round.button-success Success
          .button.button--round.button-warning Warning
          .button.button--round.button-light Light
      
      .content-docs_help
        span.ui-title-3 Example:
      
      include buttons/buttons2.html

  section.buttons-doc
    .container
      p.ui-title-2 Plain:
      .example-empty
        .row
          .button.button--plain.button-default Default
          .button.button--plain.button-primary Primary
          .button.button--plain.button-success Success
          .button.button--plain.button-warning Warning
          .button.button--plain.button-light Light
      
      .content-docs_help
        span.ui-title-3 Example:
      include buttons/buttons3.html

  section.buttons-doc
    .container
      p.ui-title-2 Disabled:
      .example-empty
        .row
          .button.button-default.button--disable(disabled) Default
          .button.button-primary.button--disable(disabled) Primary
          .button.button-success.button--disable(disabled) Success
          .button.button-warning.button--disable(disabled) Warning
          .button.button-light.button--disable(disabled) Light
      
      .content-docs_help
        span.ui-title-3 Example:
      include buttons/buttons-disable.html

  section.buttons-doc
    .container
      p.ui-title-2 Big:
      .example-empty
        .row
          .button.button--big.button-default Default
          .button.button--big.button-primary Primary
          .button.button--big.button-success Success
          .button.button--big.button-warning Warning
          .button.button--big.button-light Light
    
      .content-docs_help
        span.ui-title-3 Example:
      include buttons/buttons4.html        
      
  section.buttons-doc
    .container      
      p.ui-title-2 Large:
      .example-empty
        .row
          .button.button--large.button-default Default
          .button.button--large.button-primary Primary
          .button.button--large.button-success Success
          .button.button--large.button-warning Warning
          .button.button--large.button-light Light
      
      .content-docs_help
        span.ui-title-3 Example:
      include buttons/buttons5.html