extends ../layout/changelog

block variables
  - var pageClass        = 'changelog-page';
  - var title            = 'Changelog for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

mixin logItem(label,text)
  .changelog-item__log
    .row
      .col-xs-3
        if(label == 'Add')
          span.label.label--success Add
        else if(label == 'Fix')
          span.label.label--danger Fix
        else if(label == 'Change')
          span.label.label--primary Change
        else if(label == 'Remove')
          span.label.label--warning Remove
        else
          span.label.label--light Other
      .col-xs-9
        span.ui-text-regular= text


block content
  section.changelog-cards
    .container.container--small
      .ui-card
        h1.ui-title-1.center Changelog
        
        // Todo: fix object to array
        each log in logs
          .changelog-item
            .ui-title-3
              span= log['ver']
              span.ui-text-hide= log['date']
            
            if (log.action5)
              +logItem(log.action1['label'],log.action1['text'])
              +logItem(log.action2['label'],log.action2['text'])
              +logItem(log.action3['label'],log.action3['text'])
              +logItem(log.action4['label'],log.action4['text'])
              +logItem(log.action5['label'],log.action5['text'])
            else if(log.action4)
              +logItem(log.action1['label'],log.action1['text'])
              +logItem(log.action2['label'],log.action2['text'])
              +logItem(log.action3['label'],log.action3['text'])
              +logItem(log.action4['label'],log.action4['text'])
            else if(log.action3)
              +logItem(log.action1['label'],log.action1['text'])
              +logItem(log.action2['label'],log.action2['text'])
              +logItem(log.action3['label'],log.action3['text'])
            else if(log.action2)
              +logItem(log.action1['label'],log.action1['text'])
              +logItem(log.action2['label'],log.action2['text'])
            else if(log.action1)
              +logItem(log.action1['label'],log.action1['text'])

block script