extends ../layout/docs

block variables
  - var pageClass        = 'docs-page';
  - var title            = 'Color for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Color Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.color-doc
    .container
      h1.ui-title-1 Colors
      span.docs-descr 
        | Minimal UI uses a specific set of palettes to specify colors

  section.color-doc
    .container
      span.ui-title-2 Main color
      ul.example-color__list
        li.example-color__item.bg-primary
          p.example-color__box__title Blue
          p.example-color__box__color #333
  
  section.color-doc
    .container
      span.ui-title-2 Secondary Color
      ul.example-color__list(style="margin-bottom: 10px;")
        li.example-color__item.bg-success
          p.example-color__box__title Green
          p.example-color__box__color #333
        li.example-color__item.bg-warning
          p.example-color__box__title Yellow
          p.example-color__box__color #333
        li.example-color__item.bg-danger
          p.example-color__box__title Red
          p.example-color__box__color #333
      ul.example-color__list
        li.example-color__item.bg-light
          p.example-color__box__title Light
          p.example-color__box__color #333
        li.example-color__item.bg-purple
          p.example-color__box__title Purple
          p.example-color__box__color #8854d0
        
  section.color-doc
    .container
      span.ui-title-2 Neutral Color
      span.docs-descr 
        | Neutral colors are for text, background and border colors. You can use different neutral colors to represent the hierarchical structure.

      ul.example-color__list(style="margin-bottom: 10px;")
        li.example-color__item.bg-neutral-primary
          p.example-color__box__title.small Primary Text
          p.example-color__box__color #303133
        li.example-color__item.bg-neutral-regular
          p.example-color__box__title.small Regular Text
          p.example-color__box__color #606266
        li.example-color__item.bg-neutral-secondary
          p.example-color__box__title.small Secondary Text
          p.example-color__box__color #909399
        li.example-color__item.bg-neutral-placeholder
          p.example-color__box__title.small Placeholder Text
          p.example-color__box__color #C0C4CC
      
      ul.example-color__list
        li.example-color__item.bg-border-base
          p.example-color__box__title.small Base Border
          p.example-color__box__color #DCDFE6
        li.example-color__item.bg-border-light
          p.example-color__box__title.small Light Border
          p.example-color__box__color #E4E7ED
        li.example-color__item.bg-border-lighter
          p.example-color__box__title.small Lighter Border
          p.example-color__box__color #EBEEF5
        li.example-color__item.bg-border-lightex
          p.example-color__box__title.small Lightex Border
          p.example-color__box__color #F2F6FC
  
  section.color-doc
    .container
      span.ui-title-2 Change color
      span.docs-descr 
        | Follow to stylus/utils/colors.styl
      include color/colors.html
      span.ui-title-2 Usage bg
      span.docs-descr 
        | Follow to stylus/utils/colors.styl
      include color/bg.html
    