extends ../layout/docs

block variables
  - var pageClass        = 'color-customize-page';
  - var title            = 'Color customize for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Color customize Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section#header
    .container
      .content-docs_header
        h1.ui-title-1 Color customize
        span.docs-descr
          | Minimal UI uses BEM-styled CSS so that you can override styles easily. But if you need to replace styles at a large scale, e.g. change the theme color from blue to orange or green, maybe overriding them one by one is not a good idea.
  section#update-css
    .container
      .content-docs_header
        h2.ui-title-1 Update STYLUS variables in your project
        span.docs-descr
          | Follow to stylus/utils/colors.styl
      include color/colors.html