extends ../layout/docs

block variables
  - var pageClass        = 'get-started-page';
  - var title            = 'Documetation for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'FULL Documetation Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.get-started-doc
    .container
      .content-docs_header
        h1.ui-title-1 Get Started
        span.docs-descr
          | Here
