extends ../layout/docs

block variables
  - var pageClass        = 'grid-page';
  - var title            = 'Grid for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Grid Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section#head
    .container
      .content-docs_header
        h1.ui-title-1 Grid
        span.docs-descr
          | Quickly and easily create grid with the basic 12-column.

  section#basic
    .container
      span.ui-title-2 Basic layout
      span.docs-descr
        | Create basic grid layout using columns.
      .example-empty
        .row.grid-center
          .col-xs-12
            .grid-example-block.bg-doc-dark
              span col-xs-12

        .row.grid-center
          .col-xs-6
            .grid-example-block.bg-doc-light
              span col-xs-6
          .col-xs-6
            .grid-example-block.bg-doc-lighter
              span col-xs-6

        .row.grid-center
          .col-xs-4
            .grid-example-block.bg-doc-light
              span col-xs-4
          .col-xs-4
            .grid-example-block.bg-doc-lighter
              span col-xs-4
          .col-xs-4
            .grid-example-block.bg-doc-light
              span col-xs-4

        .row.grid-center
          .col-xs-3
            .grid-example-block.bg-doc-light
              span col-xs-3
          .col-xs-3
            .grid-example-block.bg-doc-lighter
              span col-xs-3
          .col-xs-3
            .grid-example-block.bg-doc-light
              span col-xs-3
          .col-xs-3
            .grid-example-block.bg-doc-lighter
              span col-xs-3

        .row.grid-center
          .col-xs-2
            .grid-example-block.bg-doc-light
              span col-xs-2
          .col-xs-2
            .grid-example-block.bg-doc-lighter
              span col-xs-2
          .col-xs-2
            .grid-example-block.bg-doc-light
              span col-xs-2
          .col-xs-2
            .grid-example-block.bg-doc-lighter
              span col-xs-2
          .col-xs-2
            .grid-example-block.bg-doc-light
              span col-xs-2
          .col-xs-2
            .grid-example-block.bg-doc-lighter
              span col-xs-2
      .content-docs_help
        span.ui-title-2 Example:
      include grid/basic.html

  section#responsive
    .container
      .content-docs_header
        h2.ui-title-1 Responsive Layout
        span.docs-descr
          | Taking example by Bootstrap's responsive design, 3 breakpoints are preset: xs, sm, md

      .example-empty
        .row.grid-center
          .col-xs-6.col-sm-8.col-md-4
            .grid-example-block.bg-doc-light
              span col-xs-6
                |
                br
                | col-sm-8
                br
                | col-md-4
          .col-xs-6.col-sm-4.col-md-8
            .grid-example-block.bg-doc-lighter
              span col-xs-6
                |
                br
                | col-sm-4
                br
                | col-md-8

        .row.grid-center
          .col-xs-3.col-sm-7
            .grid-example-block.bg-doc-lighter
              span col-xs-3
                |
                br
                | col-sm-7
          .col-xs-9.col-sm-5
            .grid-example-block.bg-doc-light
              span col-xs-9
                |
                br
                | col-sm-5

        .row.grid-center
          .col-xs-2.col-sm-4
            .grid-example-block.bg-doc-light
              span col-xs-2
                |
                br
                | col-sm-4
          .col-xs-4.col-sm-4
            .grid-example-block.bg-doc-lighter
              span col-xs-4
                |
                br
                | col-sm-4

          .col-xs-6.col-sm-4
            .grid-example-block.bg-doc-light
              span col-xs-6
                |
                br
                | col-sm-4

        .row.grid-center
          .col-xs-9.col-sm-4
            .grid-example-block.bg-doc-lighter
              span col-xs-9
                |
                br
                | col-sm-4
          .col-xs-3.col-sm-8
            .grid-example-block.bg-doc-light
              span col-xs-3
                |
                br
                | col-sm-8
      .content-docs_help
        span.ui-title-2 Example:
      include grid/responsive.html

  section#alignment
    .container
      span.ui-title-2 Alignment
      span.docs-descr
        | Use the flex layout to make flexible alignment of columns.

      .example-empty
        .center
          span.ui-text-small grid-center
        .row.grid-center
          .col-xs-2
            .grid-example-block.bg-doc-light
              span col-xs-2
          .col-xs-3
            .grid-example-block.bg-doc-lighter
              span col-xs-3
          .col-xs-3
            .grid-example-block.bg-doc-light
              span col-xs-3

        .center
          span.ui-text-small grid-start
        .row.grid-start
          .col-xs-4.grid-center
            .grid-example-block.bg-doc-light
              span
                | col-xs-4
                br
              span.ui-text-smaller(style="color: #333;")
                | Add class .grid-center for this col
                br
                | (For centering col content)
          .col-xs-4
            .grid-example-block.bg-doc-lighter
              span
                | .col-xs-4
                br
              span.ui-text-smaller(style="color: #333;")
                | Without class .grid-center
                br
                | (col have parent class .grid-start)

        .center
          span.ui-text-small grid-end
        .row.grid-end
          .col-xs-6
            .grid-example-block.bg-doc-light
              span .col-xs-6
          .col-xs-4
            .grid-example-block.bg-doc-lighter
              span .col-xs-4

        .center
          span.ui-text-small grid-reverse + grid-center
        .row.grid-reverse.grid-center
          .col-xs-4
            .grid-example-block.bg-doc-light
              span
                | col-xs-4
                br
              span.ui-text-smaller(style="color: #333;")
                | This is block #1
          .col-xs-4
            .grid-example-block.bg-doc-lighter
              span
                | col-xs-4
                br
              span.ui-text-smaller(style="color: #333;")
                | This is block #2

        .center
          span.ui-text-small grid-between
        .row.grid-between
          .col-xs-4
            .grid-example-block.bg-doc-light
              span col-xs-4
          .col-xs-4
            .grid-example-block.bg-doc-lighter
              span col-xs-4

        .center
          span.ui-text-small grid-around
        .row.grid-reverse.grid-around
          .col-xs-3
            .grid-example-block.bg-doc-light
              span col-xs-3
          .col-xs-3
            .grid-example-block.bg-doc-lighter
              span col-xs-3
      .content-docs_help
        span.ui-title-2 Example:
      include grid/alignment.html

      span.ui-title-3.docs-descr All attributes
      span.docs-descr Usage with row and col
      .example-empty
        table.ui-table.ui-table--hover
          thead
            tr
              th
                span Name
              th
                span class
          tbody
            tr
              td
                span.ui-text-regular start
              td
                span.ui-text-regular grid-start
            tr
              td
                span.ui-text-regular center
              td
                span.ui-text-regular grid-center
            tr
              td
                span.ui-text-regular end
              td
                span.ui-text-regular grid-end
            tr
              td
                span.ui-text-regular reverse
              td
                span.ui-text-regular gird-reverse
            tr
              td
                span.ui-text-regular top
              td
                span.ui-text-regular grid-top
            tr
              td
                span.ui-text-regular middle
              td
                span.ui-text-regular grid-middle
            tr
              td
                span.ui-text-regular bottom
              td
                span.ui-text-regular grid-bottom
            tr
              td
                span.ui-text-regular around
              td
                span.ui-text-regular grid-around
            tr
              td
                span.ui-text-regular between
              td
                span.ui-text-regular grid-between