extends ../layout/docs

block variables
  - var pageClass        = 'grid-page';
  - var title            = 'Grid for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Grid Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.grid-doc
    .container
      .content-docs_header
        h1.ui-title-1 Grid
        span.docs-descr
          | Quickly and easily create grid with the basic 12-column.
  
  section.grid-doc
    .container
      span.ui-title-2 Basic layout
      

