extends ../layout/main

block variables
	- var pageClass        = 'index-page';
	- var title            = 'Minimal-ui modern CSS framework based on Flexbox';
	- var description      = 'Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';


block content
	section.index-slider
		.container
			.row
				.col-md-6.col-xs-12 
					.index-slider__img
						.index-slider__content 
							h1.index-slider__text(style="color:#ffffff") Minimal-ui Modern CSS framework based on Flexbox
				.col-md-6.col-xs-12
					.index-slider__content
						span.index-slider__text Minimal.
						span.index-slider__text Lightweight.
						span.index-slider__text Responsive.



							
block script
	//script(src='')
