extends ../layout/docs

block variables
  - var pageClass        = 'labels-page';
  - var title            = 'Labels for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Labels Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.labels-doc
    .container
      .content-docs_header
        h1.ui-title-1 Labels
        span.docs-descr
          | Displays important alert messages

  section.labels-doc
    .container
      span.ui-title-2 Standart:
      .example-empty
          span.ui-label.ui-label--primary Primary
          span.ui-label.ui-label--success Success
          span.ui-label.ui-label--warning Warning
          span.ui-label.ui-label--light Light

      .content-docs_help
        span.ui-title-3 Example:
      include labels/labels.html
