extends ../layout/docs

block variables
  - var pageClass        = 'layout-page';
  - var title            = 'Buttons for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Buttons Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.layout-doc
    .container
      .content-docs_header
        h1.ui-title-1 Layouts
        span.docs-descr 
          | Simple and Modern Layouts

      p.ui-title-2 Standart:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block(style="text-align: center; height: 160px; line-height: 160px; background-color: #e9eef3;")
            span Content

      p.ui-title-2 With Footer:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block(style="text-align: center; height: 160px; line-height: 160px; background-color: #e9eef3;")
            span Content
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Footer
      
      p.ui-title-2 With Sidebar:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block-content(style="display:flex; justify-content: space-between;")
            .layout-block(style="text-align: center; height: 160px; width:40%; line-height: 160px; background-color: #d3dce6;")
              span Sidebar
            .layout-block(style="text-align: center; height: 160px; width:100%; line-height: 160px; background-color: #e9eef3;")
              span Content
      
      p.ui-title-2 With Sidebar + Footer:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block-content(style="display:flex; justify-content: space-between;")
            .layout-block(style="text-align: center; height: 160px; width:40%; line-height: 160px; background-color: #d3dce6;")
              span Sidebar
            .layout-block(style="text-align: center; height: 160px; width:100%; line-height: 160px; background-color: #e9eef3;")
              span Content
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Footer



