extends ../layout/docs

block variables
  - var pageClass        = 'layout-page';
  - var title            = 'Buttons for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Buttons Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.layout-doc
    .container
      h1.ui-title-1 Layouts
      span.docs-descr 
        | Simple Layouts. 
        br
        br
        | Related Topics:
      ol
        li
          a(href="navigation.html") 1. Navigation
        li
          a(href="navigation.html") 2. Sidebar

  section.layout-doc
    .container
      p.ui-title-2 Standart:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block(style="text-align: center; height: 160px; line-height: 160px; background-color: #e9eef3;")
            span Content
      .content-docs_help
        span.ui-title-3 Example:
      include layout/standart.html

  
  section.layout-doc
    .container
      p.ui-title-2 With Footer:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block(style="text-align: center; height: 160px; line-height: 160px; background-color: #e9eef3;")
            span Content
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Footer
      .content-docs_help
        span.ui-title-3 Example:
      include layout/with-footer.html

  section.layout-doc
    .container
      p.ui-title-2 With Sidebar:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block-content(style="display:flex; justify-content: space-between;")
            .layout-block(style="text-align: center; height: 160px; width:26%; line-height: 160px; background-color: #d3dce6;")
              span Sidebar
            .layout-block(style="text-align: center; height: 160px; width:100%; line-height: 160px; background-color: #e9eef3;")
              span Content
      .content-docs_help
        span.ui-title-3 Example:
      include layout/with-sidebar.html 

  section.layout-doc
    .container
      p.ui-title-2 With Sidebar + Footer:
        .example-empty
          .layout-block(style="text-align: center; height: 80px; line-height: 80px; background-color: #b3c0d1;")
            span Header
          .layout-block-content(style="display:flex; justify-content: space-between;")
            .layout-block(style="text-align: center; height: 160px; width:26%; line-height: 230px; background-color: #d3dce6;")
              span Sidebar
            .layout-block(style="text-align: center; height: 160px; width:100%; line-height: 160px; background-color: #e9eef3;")
              span Content
          .layout-block-content(style="display:flex; justify-content: space-between;")
            .layout-block(style="text-align: center; height: 80px;; width:26%;  background-color: #d3dce6;")
            .layout-block(style="text-align: center; height: 80px; width:100%; line-height: 80px; background-color: #b3c0d1;")
              span Footer
      .content-docs_help
        span.ui-title-3 Example:
      include layout/with-footer-sidebar.html 

  section.layout-doc
    .container  
      p.ui-title-2 Usage container
        .example-empty
          .container(style="text-align: center; height: 180px; line-height: 180px; background-color: #b3c0d1;")
            span Container
 
  section.layout-doc
    .container
      p.ui-title-2 Usage container-fluid
    .container-fluid
      .example-empty
        .layout-block(style="text-align: center; height: 180px; line-height: 180px; background-color: #b3c0d1;")
            span Container-fluid



