extends ../layout/docs

block variables
  - var pageClass        = 'message-box-page';
  - var title            = 'Message-Box for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Message-Box Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section#header
    .container
      h1.ui-title-1 MessageBox
      span
        | A set of modal boxes simulating system message box, mainly for alerting information

  section#standart
    .container
      span.ui-title-2 Standart MessageBox:

      .example-empty
        .ui-message.ui-message--danger#exampleMessage
          span.message-title Example message - Cancel

        .ui-message.ui-message--success#exampleMessage2
          span.message-title Example message - Done

        .ui-messageBox__wrapper
          .ui-messageBox.fadeInDown
            .ui-messageBox__header
              span.messageBox-title Title
              span.button-close.ui-messageBox-close
            .ui-messageBox__content
              span Message is here
            .ui-messageBox__footer
              .button.button-light.ui-messageBox-cancel Cancel
              .button.button-primary.ui-messageBox-ok OK
        .button.button-light.ui-messageBox-show Show confirm message

        .ui-messageBox__wrapper
          .ui-messageBox.fadeInDown
            .ui-messageBox__header
              span.messageBox-title Another Title
              span.button-close.ui-messageBox-close
            .ui-messageBox__content
              span Another Message is here
            .ui-messageBox__footer
              //- .button.button-light.ui-messageBox-cancel Cancel
              .button.button-primary.ui-messageBox-ok OK
        .button.button-light.ui-messageBox-show Show standart message

      .content-docs_help
        span.ui-title-3 Example:
      include message-box/standart.html

block script
  script.
    uiMessage()
    function messageDialogItCancel(){
    showMessage('#exampleMessage')
    return console.log('Cancel');
    }
    function messageDialogItOk(){
    showMessage('#exampleMessage2')
    return console.log('Ok');
    }