extends ../layout/docs

block variables
  - var pageClass        = 'navigation-page';
  - var title            = 'Navigation for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Navigation Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.navigation-doc
    .container
      h1.ui-title-1 Navigation
      span.docs-descr
        | Simple and Modern Navigation

  section.navigation-doc
    .container
      p.ui-title-2 Standart Navbar:
      .example-empty
        .navbar
          .container
            .navbar-content.navbar-list
              a.header-logo(href='#') LOGO
              .navbar-menu
                ul.navbar-list
                  li.navbar-item
                    a.navbar-link(href='#') Example link
                  li.navbar-item
                    a.navbar-link(href='#') Example link
              .navbar-menu--mobile
                .button-burger
                  span.line.line-1
                  span.line.line-2
                  span.line.line-3
                ul.navbar-list--mobile
                  li.navbar-item
                    a.navbar-link(href='#') Example link
                  li.navbar-item
                    a.navbar-link(href='#') Example link

      .content-docs_help
        span.ui-title-3 Example:
      include navigation/standart.html


  section.navigation-doc
    .container
      p.ui-title-2 Black Navbar:
      .example-empty
        .navbar.navbar--black
          .container
            .navbar-content.navbar-list
              a.header-logo(href='#' style="color: #fff;") LOGO
              .navbar-menu
                ul.navbar-list
                  li.navbar-item
                    a.navbar-link(href='#') Example link
                  li.navbar-item
                    a.navbar-link(href='#') Example link
              .navbar-menu--mobile
                .button-burger
                  span.line.line-1
                  span.line.line-2
                  span.line.line-3
                ul.navbar-list--mobile
                  li.navbar-item
                    a.navbar-link(href='#') Example link
                  li.navbar-item
                    a.navbar-link(href='#') Example link

      .content-docs_help
        span.ui-title-3 Example:
      include navigation/black.html

  section.navigation-doc
    .container
      .content-docs_help
        p.ui-title-2 Fix Navbar:
        span.docs-descr
          | As an example this documentation.
          br
          br
          | Related Topics:
        ol
          li
            a(href="layout.html") 1. Layout
        br

      .content-docs_help
        span.ui-title-3 Example:
      include navigation/fixed.html