extends ../layout/docs

block variables
  - var pageClass        = 'sidebar-page';
  - var title            = 'Sidebar for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Sidebar Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.sidebar-doc
    .container
      h1.ui-title-1 Sidebar
      span.docs-descr
        | Simple and Modern Navigation

  section.sidebar-doc
    .container
      p.ui-title-2 Standart:
      span.docs-descr
        | As an example this documentation.
        br
        br
        | Related Topics:
      ol
        li
          a(href="layout.html") 1. Layout
      br

      span.ui-title-3 Example:
      include sidebar/standart.html