extends ../layout/docs

block variables
  - var pageClass        = 'table-page';
  - var title            = 'Table for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Table Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.table
    .container
      h1.ui-title-1 Table
      span.docs-descr
        | Simple and Modern

  section.table
    .container
      h2.ui-title-1 Standart
      .example-empty
        table.ui-table
          thead
            tr
              th
                span Name
              th
                span Gender
              th
                span Age
          tbody
            tr
              td
                span.ui-text-regular Tomas
              td
                span.ui-text-regular Male
              td
                span.ui-text-regular 26
            tr
              td
                span.ui-text-regular Jack
              td
                span.ui-text-regular Male
              td
                span.ui-text-regular 22
            tr
              td
                span.ui-text-regular Anne
              td
                span.ui-text-regular Female
              td
                span.ui-text-regular 23
            tr
              td
                span.ui-text-regular Jane
              td
                span.ui-text-regular Female
              td
                span.ui-text-regular 19

      .content-docs_help
        span.ui-title-2 Example:
      include table/table.html

  section.table
    .container
      h2.ui-title-1 With hover
      .example-empty
        table.ui-table.ui-table--hover
          thead
            tr
              th
                span Name
              th
                span Gender
              th
                span Age
          tbody
            tr
              td
                span.ui-text-regular Tomas
              td
                span.ui-text-regular Male
              td
                span.ui-text-regular 26
            tr
              td
                span.ui-text-regular Jack
              td
                span.ui-text-regular Male
              td
                span.ui-text-regular 22
            tr
              td
                span.ui-text-regular Anne
              td
                span.ui-text-regular Female
              td
                span.ui-text-regular 23
            tr
              td
                span.ui-text-regular Jane
              td
                span.ui-text-regular Female
              td
                span.ui-text-regular 19

      .content-docs_help
        span.ui-title-2 Example:

      include table/table-with-hover.html