extends ../layout/docs

block variables
  - var pageClass        = 'docs-page';
  - var title            = 'Typography for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Typography Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';



block content
  section.typography-doc
    .container
      .content-docs_header
        h1.ui-title-1 Typography
        span.docs-descr
          | The rem unit is relative to the font-size of the root element html . That means that we can define a single font size on the root element, and define all rem units to be a percentage of that.
      .content-docs_help
        span.ui-title-2 Font:
        include typography/typography.html
      .content-docs_help
        span.ui-title-2 Font Size:
        include typography/typography2.html

  section.typography-doc
    .container
      span.ui-title-2 Titles:
      .example
        table.ui-table
          tbody
            tr
              td
                h1.ui-title-1 Heading h1
              td
                span.ui-text-small 2.7 rem
              td
                span 50 px
            tr
              td
                h2.ui-title-2 Heading h2
              td
                span.ui-text-small 2.2 rem
              td
                span 40 px
            tr
              td
                h3.ui-title-3 Heading h3
              td
                span.ui-text-small 1.6 rem
              td
                span 30 px
            tr
              td
                h3.ui-title-4 Heading h4
              td
                span.ui-text-small 1.3 rem
              td
                span 24 px
            tr
              td
                p.ui-text-regular Body
              td
                span.ui-text-small 1 rem
              td
                span 18 px
            tr
              td
                p.ui-text-small Small
              td
                span.ui-text-small .8 rem
              td
                span 16 px
            tr
              td
                p.ui-text-smaller Extra small
              td
                span.ui-text-small .7 rem
              td
                span 14 px

      .content-docs_help
        span.ui-title-2 Example:

      include typography/typography3.html