extends ../layout/docs

block variables
  - var pageClass        = 'variables-page';
  - var title            = 'Variables for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Variables Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.variables-doc
    .container
      .content-docs_header
        h1.ui-title-1 Variables