header
  .navbar.navbar--transparent.navbar-fixed
    .container
      .navbar-content.navbar-list
        a(href="index.html").header-logo.header-logo--white Minimal UI
        .navbar-menu
          ul.navbar-list
            each item in mainNav
              +menuItem(item["title"], item["url"])(class="navbar-link--white")
        .navbar-menu--mobile
          .button-burger
            span.line.line--white.line-1
            span.line.line--white.line-2
            span.line.line--white.line-3
          ul.navbar-list--mobile(style)
            each item in mainNav
              +menuItem(item["title"], item["url"])(class="navbar-link--white")