@import 'utils/mixin.styl'
@import 'libs.styl'
@import 'utils/vars.styl'
@import 'utils/fonts.styl'

.wrapper
	display: flex
	flex-direction column
	min-height 100vh

.content-wrapper
	display flex
	flex-direction: column
	min-height: 100vh

.content-wrapper--sidebar
	padding-left 270px
	height: calc(100% - 80px);
	margin-top: 80px;

.example
	padding: 20px
	border 1px solid #cccccc
	border-radius: 8px
	margin-bottom 40px

//MODULES
//Header
@import 'modules/header.styl'

//Footer
@import 'modules/footer.styl'

//Sidebar
@import 'modules/sidebar.styl'


//PAGES
//Index
@import 'pages/index.styl'

//Changelog-page
@import 'pages/changelog.styl'

//Documetation
@import 'pages/documentation.styl'
