@import 'utils/mixin.styl'
@import 'utils/vars.styl'
@import 'utils/fonts.styl'

body
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-weight normal

.wrapper
	display: flex
	flex-direction column
	min-height 100vh

.content-wrapper
	display flex
	flex-direction: column
	min-height: 100vh

	&.content-wrapper--sidebar
		margin-left 400px



//MODULES
//Header
@import 'modules/header.styl'

//Footer
@import 'modules/footer.styl'

//Sidebar
@import 'modules/sidebar.styl'


//PAGES
//Index
@import 'pages/index.styl'

//Changelog-page
@import 'pages/changelog.styl'

//Documetation
@import 'pages/documentation.styl'
