html
	line-height 1.4
	font-size 18px
	color #333

	@media screen and (max-width desktopWidth)
		font-size 16px

	@media screen and (max-width tableWidth)
		font-size 14px

	@media screen and (max-width phoneWidth)
		font-size 12px

body
	font-family 18px

a
	text-decoration none
	color linkColor

section,
.section
	position relative
	padding 60px 0

	@media screen and (max-width desktopWidth)
		padding 40px 0

	@media screen and (max-width tableWidth)
		padding 30px 0

	@media screen and (max-width phoneWidth)
		padding 20px 0

.wrapper
	position relative

.container
	width 100%
	flex: 0 0 auto;
	position relative
	max-width desktopWidth
	margin 0 auto
	padding 0 rem(40)

	@media screen and (max-width smDesktopWidth)
		max-width tableWidth
		padding 0 rem(20)

	@media screen and (max-width tableWidth)
		max-width phoneWidth
		padding 0 rem(16)

	@media screen and (max-width phoneWidth)
		max-width smPhoneWidth
		padding 0 rem(10)

	&.container--small
		max-width tableWidth
	
		@media screen and (max-width smDesktopWidth)
			max-width phoneWidth

.center
	text-align center
	//todo fix?
	margin: 0 auto


//delete
.main-title,
.second-title
	font-weight normal
	color #222
	text-transform: none;

.main-title
	margin-bottom rem(32)
	font-size rem(46)

.second-title
	font-size rem(36)
	margin-bottom rem(24)


