
.ui-title-1
  font-size rem(50)
.ui-title-2
  font-size rem(40)
.ui-title-3
  font-size rem(30)
.ui-title-4
  font-size rem(26)

.ui-text-regular
  font-size rem(18)
.ui-text-small
  font-size rem(16)
.ui-text-smaller
  font-size rem(14)

.text-hide
	color #999