/*
  Core styles:
  ========================================================================== */

html {
  height: 100%;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // THEME
  color: var(--g-950);
  background-color: var(--g-0);
}

html,
body,
.app-inner {
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: currentcolor;
}

.app-html,
.app-body,
.app {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

b,
strong {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ui-section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.ui-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.ui-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ui-container {
  position: relative;
  flex: 0 0 auto;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
  @media screen and (min-width: $lgDesktopWidth) {
    max-width: unset;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $smTableWidth;
  }
  @media screen and (max-width: $smTableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}
