/*
  Body
  ========================================================================== */

// body vars
$ui-body-color: $g-950;
$mainLineHeight: 1.6;
$mainFontFamily: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji',
  'Segoe UI Symbol';

.ui-html {
  height: 100%;
  font-size: $mainFontSize;
  line-height: $mainLineHeight;
  @media screen and (max-width: $smDesktopWidth) {
    font-size: $smDesktopFontSize;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: $tableFontSize;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: $phoneFontSize;
  }
}

.ui-body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  //
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // THEME
  color: $ui-body-color;
  background-color: var(--ui-g-0);
}

.ui-html,
.ui-body,
.ui-app-inner {
  height: 100%;
  width: 100%;
  font-family: $mainFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  fill: currentcolor;
}

// mostly wrapper for react app
.ui-app {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.ui-section {
  flex-shrink: 0;
  position: relative;
  @include padding(40px 0);
  @media screen and (max-width: $smDesktopWidth) {
    @include padding(36px 0);
  }
  @media screen and (max-width: $tableWidth) {
    @include padding(28px 0);
  }
  @media screen and (max-width: $phoneWidth) {
    @include padding(20px 0);
  }
}

.ui-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include margin(0 auto);
}

.ui-content-wrapper {
  position: relative;
  flex-grow: 1;
}

.ui-container {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  @include padding(0 16px);
  @include margin(0 auto);

  @media screen and (min-width: $lgDesktopWidth) {
    max-width: unset;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $smTableWidth;
  }
  @media screen and (max-width: $smTableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}
