// ----- Core scss file -----
// All imports is here. Without reset!

// themes
@import './theme/_theme';

// utils
@import './utils/vars';
@import './utils/mixins/_mixins';

// core styles
@import './uimini-body';

// typography
@import './typography/_typography';

// components
@import './components/_components';
