extends ../layout/main

block variables
	- var pageClass        = 'index-page';
	- var title            = 'Minimal-ui modern CSS framework based on Flexbox';
	- var description      = 'Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';


block content
	section
		.container
			.row
				.col-md-2.col-sm-6.col-xs-12 
					span Hello 1
				.col-md-10.col-sm-6.col-xs-12
					span Hello 2

							
block script
	//script(src='')
