extends ../layout/main

block variables
	- var pageClass        = 'index-page';
	- var title            = 'Minimal-ui modern CSS framework based on Flexbox';
	- var description      = 'Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';


block content
	section
		.container
			h1 hi
							
block script
	//script(src='')
