extends ../layout/docs

block variables
  - var pageClass        = 'docs-page';
  - var title            = 'Table for Minimal-ui CSS framework based on Flexbox';
  - var description      = 'Table Minimal-ui.css is a modern responsive CSS framework based on Flexbox. Full responsive and available for free';

block content
  section.table
    .container
      include ../modules/sidebar
      .content-sidebar
        .content-docs_header
          h1.ui-title-1 Table
          span.docs-descr 
            | Simple and Modern
        .example
          table.ui-table
            thead
              tr
                th
                  span Name
                th 
                  span Gender
                th
                  span Age
            tbody
              tr
                td
                  span.ui-text-regular Tomas
                td
                  span.ui-text-regular Male
                td
                  span.ui-text-regular 26
              tr
                td
                  span.ui-text-regular Jack
                td
                  span.ui-text-regular Male
                td
                  span.ui-text-regular 22
              tr
                td
                  span.ui-text-regular Anne
                td
                  span.ui-text-regular Female
                td
                  span.ui-text-regular 23
              tr
                td
                  span.ui-text-regular Jane
                td
                  span.ui-text-regular Female
                td
                  span.ui-text-regular 19
              